<div class="header">New Source</div>
    
      <%= form_for(@source) do |f| %>
    
      <% if @source.errors.any? %>
        <div id="error_explanation">
          <h2>
            <%= pluralize(@source.errors.count, "error") %> prohibited this comment from being saved:
          </h2>
          <ul>
            <%= source.errors.full_messages.each do |message| %>
            <li>< message %></li>
            <% end %>
          </ul>
        </div>  
      <% end %>
    
    <div class="body">
      
      <div class="field"><%= f.label :name %><br />
        <%= f.email_field :name, autofocus: true %>
      </div>
    
      <div class="field"><%= f.label :url %><br />
        <%= f.password_field :url, autocomplete: "off" %>
      </div>
    
      <div class="actions">
        <%= f.submit "Submit", :class=>"btn btn-primary" %>
      </div>
    <% end %>
  
</div>






  
