<div class="row">
  <div class="col-md-3 skin-white">
    <% if admin_signed_in? %>
  
  
      <div class="span2">  
        <ul class="nav nav-pills nav-stacked">  
          <li>
            <%= link_to "Home", root_url %>
          </li>
          <li class="active">
            <%= link_to "Register Source", new_source_path %>
          </li>
          <li>
            <%= link_to "Register Student", new_student_path %>
          </li>
          <li>
            <%= link_to "View Sources", sources_path %>
          </li>
          <li>
            <%= link_to "Perform an Evaluation", students_path %>
          </li>  
        </ul>  
      </div> 
    <% end %>
  </div>
  
  <div class="col-md-6 skin-white">
    <div class="header">New Source</div>
    
    <%= form_for(@source) do |f| %>
    
    <% if @source.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= pluralize(@source.errors.count, "error") %> prohibited this source from being saved:
        </h2>
        <ul>
          <%= source.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>  
    <% end %>
    
    <div class="body">
      
      <div class="field"><%= f.label :name %><br />
        <%= f.text_field :name, autofocus: true %>
      </div>
    
      <div class="field"><%= f.label :url %><br />
        <%= f.text_field :url, autocomplete: "off" %>
      </div>
      <br />
      <div class="actions">
        <%= f.submit "Submit", :class=>"btn btn-primary" %>
      </div>
    <% end %>
  
    </div>
  </div>
  
  <div class="col-md-3 skin-white">
    
  </div>
</div>








  
