<div class="row">
  <div class="col-md-3 skin-white">
    <% if admin_signed_in? %>
  
  
      <div class="span2">  
        <ul class="nav nav-pills nav-stacked">  
          <li>
            <%= link_to "Home", root_url %>
          </li>
          <li class="active">
            <%= link_to "Register Source", new_source_path %>
          </li>
          <li>
            <%= link_to "Register Student", new_student_path %>
          </li>
          <li>
            <%= link_to "View Sources", sources_path %>
          </li>
          <li>
            <%= link_to "Perform an Evaluation", students_path %>
          </li>  
        </ul>  
      </div> 
    <% end %>
  </div>
  
  <div class="col-md-6 skin-white">

      Name : <%= @source.name %> <br />
      Url : <%= @source.url %> <br />
      Created on : <%= @source.created_at.strftime("%d/%m/%Y at %I:%M%p")%><br />
      <%= link_to "Edit", edit_source_path %> |
      <%= link_to "Delete", @source, method: :delete, data: { confirm: 'Are you sure?' } %>
      <hr>

  </div>
  
  <div class="col-md-3 skin-white">
    
  </div>
</div>