<div class="row">
  <div class="col-md-3 skin-white">
    <% if admin_signed_in? %>
  
  
      <div class="span2">  
        <ul class="nav nav-pills nav-stacked">  
          <li>
            <%= link_to "Home", root_url %>
          </li>
          <li>
            <%= link_to "Register Source", new_source_path %>
          </li>
          <li>
            <%= link_to "Register Student", new_student_path %>
          </li>
          <li class="active">
            <%= link_to "View Students", students_path %>
          </li>
          <li>
            <%= link_to "View Sources", sources_path %>
          </li>
          <li><a href="#">. . . . .</a></li>   
        </ul>  
      </div> 
    <% end %>
  </div>
  
  <div class="col-md-6 skin-white">
    
    <% @students.each do |student| %>
      Name : <%= student.name %> <br />
      <%= link_to "Show", student %>
      <hr>
    <% end %>
    
  </div>
  
  <div class="col-md-3 skin-white">
    
  </div>
</div>