<div class="row">
  <div class="col-md-3 skin-white">
    
  </div>
  
  <div class="col-md-6 skin-white">

      Name : <%= @student.name %> <br />
      ID : <%= @student.id %>
      Source : <%= @student.source.name %> <br />
      Created on : <%= @student.created_at.strftime("%d/%m/%Y at %I:%M%p")%><br />
      Size of essay : <%= @wordCount %> <br />
      Number of Sections : <%= @number_of_groups %> <br />
      
       <br />
      <%= image_tag("gifs/#{@classname}.gif")%> <br />
      <%= @dtreeString %> <br />
      
      Total test instances : <%= @totalTestInstances %> <br />
      Correctly classified : <%= @correct %> <br />
      Wrongly classified : <%= @wrong %> <br />
      Percentage : <%= @percentage %>% probability that it was written by <%= @name %><br />
      
      <%= link_to "Enter an esay to evaluate", new_student_test_path(@student) %> | 
      <%= link_to "Train and Evaluate", evaluateModel_students_path %> |
      <%= link_to "Edit ", edit_student_path %> |
      <%= link_to "Back to list of students", students_path %>
      <hr>

  </div>
  
  <div class="col-md-3 skin-white">
    
  </div>
</div>