<div class="row">
  <div class="col-md-3 skin-white">
    
  </div>
  
  <div class="col-md-6 skin-white">

      Name : <%= @student.name %> <br />
      Source : <%= @student.source.name %> <br />
      Created on : <%= @student.created_at.strftime("%d/%m/%Y at %I:%M%p")%><br />
      Size : <%= @wordCount %> <br />
      Number of Sections : <%= @number_of_groups %> <br />
      Attributes : <%= @attributes %> <br />
      
      <%= link_to "Train Model", trainModel_students_path %>
      
      <%= link_to "Evaluate", evaluateModel_students_path %>
      
      <%= @dtreeString %>

      

      
      <%= image_tag("gifs/#{@classname}.gif")%> <br />
      
      
      
      
      
      <%= link_to "Edit", edit_student_path %> |
      <%= link_to "Delete", "#" %>
      <hr>

  </div>
  
  <div class="col-md-3 skin-white">
    
  </div>
</div>