<div class="row">
  <div class="col-md-3 skin-white">
    
  </div>
  
  <div class="col-md-6 skin-white">

      Name : <%= @student.name %> <br />
      Url : <%= @student.source.name %> <br />
      Created on : <%= @student.created_at.strftime("%d/%m/%Y at %I:%M%p")%><br />
      <%= link_to "Edit", edit_student_path %> |
      <%= link_to "Delete", student, method: :delete, data: { confirm: 'Are you sure?' } %>
      <hr>

  </div>
  
  <div class="col-md-3 skin-white">
    
  </div>
</div>