<div class="row">
    <div class="col-md-3 skin-white">
        
    </div>
   
   <div class="col-md-6 skin-white">
        <%= bootstrap_form_for([@student, @test], :html => {:multipart => true}) do |f| %>
      
        <% if @test.errors.any? %>
          <div id="error_explanation">
            <h2>
              <%= pluralize(@test.errors.count, "error") %> prohibited this student from being saved:
            </h2>
            <ul>
              <%= test.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>  
        <% end %>
        
        <div class="field">
          <%= f.file_field :evaluate %> (Select the essay to be evaluated)
        </div>
        
        <div class="actions">
          <%= f.submit "Submit", :class=>"btn btn-primary" %>
        </div>
      <% end %>
    </div>
   
   <div class="col-md-3 skin-white">
        
    </div>
    
</div>



